<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../reset.css">
     <link rel="stylesheet" href="../style/gallery.css">
    <link href="https://fonts.googleapis.com/css?family=Neucha|Yanone+Kaffeesatz" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <title>Галерея</title>
</head>
<body>    
    <div class="background-image__fixed">
        <div class="main-content__centred">
            <div class="header">
                <div class="logo">
                    <p class="logo_text">
                        Ресторан <br> <br>
                        "Печерское Предместье"
                    </p>
                </div>
                <nav class="menu">
                    <a href="../index.html" class="menu_links">Главная</a>
                    <a href="../templates/about-us.html" class="menu_links">О нас</a>
                    <a href="../templates/menu.html" class="menu_links">Меню</a>
                    <a href="../templates/galery.html" class="menu_links">Галерея</a>
                    <a href="../templates/contacts.html" class="menu_links">Контакты</a>
                </nav>
            </div>
        
                <div class="content">
                    <div class="left-side">
                        <p class="content__text">
                                Добро пожаловать в наш ресторан! <br> <br>
                                При приготовлении блюд мы уделяем особое внимание качеству и свежести
                                ингредиентов. <br> <br>
                                Любителей греческой и мировой кухни приятно удивят наши изысканные
                                блюда. <br><br>
                                Мы с радостью поможем советом при заказе. <br><br>
                                Приятного аппетита!     
                        </p>
                        <div class="content_order">
                            <p class="order__text">
                                ЗАКАЗ СТОЛИКА <br><br>
                                Тел.: +375 0222 28-22-70<br>
                                Моб.: +375 29 394-55-89<br>
                                Email: PP@yandex.ru<br><br>
                                ЧАСЫ РАБОТЫ <br><br>
                                Понедельник -  Воскресенье <br>
                                С 10:00 до 00:00
                            </p>
                        </div>
                    </div>
                    <div class="right-side">
                        <div class="contacts">
                            <p class="horizontal-line">
                                Галерея
                            </p>
                        </div>
                        
        
                        <div class="gallery">
                            <div class="img-w"><img src="https://pp.userapi.com/c638817/v638817962/34c2b/b6FsdAxCI6s.jpg" alt="Печерское предместье"> </div>
                            <div class="img-w"><img src="https://pp.userapi.com/c633219/v633219962/36854/GEaYFXzJxrI.jpg" alt="Печерское предместье" /></div>
                            <div class="img-w"><img src="https://pp.userapi.com/c623625/v623625962/327bb/hOvyZ88-4X0.jpg" alt="Печерское предместье" /></div>
                            <div class="img-w"><img src="https://pp.userapi.com/c623325/v623325962/fdcd/5CQg7liVtZ8.jpg" alt="Печерское предместье" /></div>
                            <div class="img-w"><img src="https://pp.userapi.com/c623325/v623325962/fdb2/F0IxOJ8W7WE.jpg" alt="Печерское предместье" /></div>
                            <div class="img-w"><img src="https://pp.userapi.com/c623325/v623325962/fd95/PoVb3rioU8o.jpg" alt="Печерское предместье" /></div>
                            <div class="img-w"><img src="https://pp.userapi.com/c623325/v623325962/fd5e/OCyhpNvIImM.jpg" alt="Печерское предместье" /></div>
                            <div class="img-w"><img src="https://pp.userapi.com/c624627/v624627962/6add/4PByRvAAzag.jpg" alt="Печерское предместье" /></div>
                            <div class="img-w"><img src="https://pp.userapi.com/3gHxlb9qK1vLhEYj1YmmerpvtsiUuADT9jqRcw/uTOyftfMiVM.jpg" alt="Печерское предместье" /></div>
                            <div class="img-w"><img src="https://pp.userapi.com/MNkgdAdzznyRNlH99AhKIs0lQYJ7YPS9HYA7Sw/0xsEy1KthXo.jpg" alt="Печерское предместье" /></div>
                            <div class="img-w"><img src="https://pp.userapi.com/piZRuf0O65WyA-LTgcNi4LYtFJTDtpmWPO4FOw/cvakbxlXcLU.jpg" alt="Печерское предместье" /></div>
                            <div class="img-w"><img src="https://pp.userapi.com/DtugB7nKVg7XN2B55ODQApVBbBiWKgkZ-3XMKw/NCl_yyuJtGY.jpg" alt="Печерское предместье"> </div>
                            <div class="img-w"><img src="https://pp.userapi.com/c844416/v844416061/12dee1/nzZ-UdBbDwM.jpg" alt="Печерское предместье" /></div>
                            <div class="img-w"><img src="https://pp.userapi.com/gFTvwvIwXDcE5L-ylAaYnWeXhNwrD3Kz_86k3w/F3oc1Y8jXIk.jpg" alt="Печерское предместье" /></div>
                            <div class="img-w"><img src="https://pp.userapi.com/8_zGjaQDGzdI6wCYhhtwPuRXCDJDa3cm-bNq8Q/xINBiCj-HhU.jpg" alt="Печерское предместье" /></div>
                            <div class="img-w"><img src="https://pp.userapi.com/c847019/v847019943/93d10/DBqTihscrC4.jpg" alt="Печерское предместье" /></div>
                            <div class="img-w"><img src="https://pp.userapi.com/c846521/v846521811/a8c9e/ZVTpWGbexaQ.jpg" alt="Печерское предместье" /></div>
                            <div class="img-w"><img src="https://pp.userapi.com/c849416/v849416441/2f2f1/v6fqbpb9FZ0.jpg" alt="Печерское предместье" /></div>
        
                            <div class="img-w"><img src="https://pp.userapi.com/c848616/v848616441/2f3ef/MNfeoJJdE2M.jpg" alt="Печерское предместье" /></div>
                            <div class="img-w"><img src="https://pp.userapi.com/c830108/v830108943/133708/PRBumXcaWIo.jpg" alt="Печерское предместье" /></div>
                            <div class="img-w"><img src="https://pp.userapi.com/c844720/v844720611/9f91b/owuaS26XuOA.jpg" alt="Печерское предместье" /></div>
        
                            <div class="img-w"><img src="https://pp.userapi.com/c847120/v847120545/7a10b/8JDx57mnRLQ.jpg" alt="Печерское предместье" /></div>
                            <div class="img-w"><img src="https://pp.userapi.com/c847120/v847120545/7a102/jVSLqo_MQOY.jpg" alt="Печерское предместье" /></div>
                            <div class="img-w"><img src="https://pp.userapi.com/c847120/v847120545/7a0f9/WSRsr_mIdmI.jpg" alt="Печерское предместье" /></div>
                        </div>
                            
                    </div>
                    
                </div>
        
            <div class="footer">
                <p class="footer_text">
                    г. Могилёв, ул. Генерала Бакунина, 15
                </p> 
                <div class="footer_empty"></div>
            </div>
        </div>
    </div>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>                  
    <script src="../JS/index.js"></script>
</body>
</html>    